{% load static %}

<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ language.site_name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <div class="container text-center mt-5">
            <h1>{{ language.site_name }}</h1>
            <div class="row mx-auto justify-content-center">
                <div class="col-10 col-md-5 mt-1 mb-1 text-center">
                    {% if allow_manual_search %} <input id="input_url" type="url" class="form-control text-center url-input shadow-none" placeholder="{{ language.example_url }}"> {% endif %}
                </div>
            </div>
            <div class="row mx-auto justify-content-center ">
                <div class="col-10 col-md-5 mt-1 mb-1 text-center rounded border p-3">
                    <h4 class="mb-5">{{ language.websites }}</h4>
                    {% if websites %}
                    <div class="container">
                        {% for website in websites %}
                            <div class="card mb-2 mt-2" style="width: 100%;">
                                <div class="card-header">
                                    <div class="row">
                                        {% if website.check_time %}
                                        <div class="col-1"><img src="{% static 'icon_online.png'%}" style="height: 10px;"></div>
                                        {% else %}
                                        <div class="col-1"><img src="{% static 'icon_offline.png'%}" style="height: 10px;"></div>
                                        {% endif %}
                                        
                                        <div class="col"><small>{{website.website_url}}</small></div>
                                        <div class="col-1"></div>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                    <p class="card-title"><b>{{website.website_name}}</b></p>
                                    <p>{{ language.last_checked }}: <small><i>{{website.last_checked}}</i></small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>{{ language.empty }}</p>
                    {% endif %}
                    
                </div>
                <div class="col-10 col-md-5 mt-1 mb-1 offset-1 rounded border p-3">
                    <h4 class="mb-5">{{ language.webservices }}</h4>
                    {% if services %}
                    <div class="container">
                        {% for service in services %}
                            <div class="card mb-2 mt-2" style="width: 100%;">
                                <div class="card-header">
                                    <div class="row">
                                        {% if service.check_time %}
                                        <div class="col-1"><img src="{% static 'icon_online.png'%}" style="height: 10px;"></div>
                                        {% else %}
                                        <div class="col-1"><img src="{% static 'icon_offline.png'%}" style="height: 10px;"></div>
                                        {% endif %}
                                        
                                        <div class="col"><small>{{service.service_ip}}</small></div>
                                        <div class="col-1"></div>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                    <p class="card-title"><b>{{service.service_name}}({{service.service_type}})</b></p>
                                    <p>{{ language.last_checked }}: <small><i>{{service.last_checked}}</i></small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>{{ language.empty }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if allow_manual_search %}
        <script>
            function check_status(e) {
                if(e.key != "Enter") return;

                var request = new XMLHttpRequest();
                request.responseType = "json";
                input.style.borderBottomColor = '#6495ED';

                request.addEventListener("load", function (e) {
                    console.log(this.response);
                    if(this.response["check_successful"]) { input.style.borderBottomColor = "#22D82A"; }
                    else                                  { input.style.borderBottomColor = "#FF4200"; }
                });
                
                request.open("GET", "check_website?website_url=" + input.value, true);
                request.send();
            }  

            var input = document.getElementById("input_url");
            input.addEventListener("keyup", check_status);
            input.addEventListener("focusout", function (e) {
                input.style.borderBottomColor = null;
            });
        </script>
        {% endif %}
    </body>
</html>